BR2_x86_64=y
BR2_DEFCONFIG="$(CONFIG_DIR)/defconfig"
BR2_CCACHE=y
BR2_OPTIMIZE_3=y
BR2_TOOLCHAIN_BUILDROOT_EGLIBC=y
BR2_TARGET_GENERIC_GETTY_PORT="tty1"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/board/multiplicity/fs-overlay/"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL)/board/multiplicity/post-build.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="x86_64"
BR2_PACKAGE_JAMVM=y
BR2_PACKAGE_OPENSSH=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
BR2_TARGET_ROOTFS_ISO9660=y
BR2_PACKAGE_LIBVIRT=y
BR2_PACKAGE_QEMU=y
BR2_PACKAGE_QEMU_SYSTEM=y
BR2_PACKAGE_QEMU_LINUX_USER=y
BR2_PACKAGE_QEMU_TOOLS_ON_TARGET=y
BR2_PACKAGE_QEMU_VNC=y
BR2_PACKAGE_QEMU_VNC_PNG=y
BR2_PACKAGE_QEMU_VNC_JPEG=y
BR2_PACKAGE_QEMU_VNC_TLS=y
BR2_PACKAGE_QEMU_CURSES=y
BR2_PACKAGE_QEMU_VIRTFS=y
BR2_PACKAGE_QEMU_CURL=y
BR2_PACKAGE_QEMU_ISCSI=y
BR2_PACKAGE_QEMU_VDE=y
BR2_PACKAGE_QEMU_MIXEMU=y
BR2_PACKAGE_QEMU_SOUND_ALSA=y
BR2_PACKAGE_QEMU_SOUND_SDL=y
BR2_PACKAGE_QEMU_FDT=y
BR2_PACKAGE_QEMU_SECCOMP=y
